@use "abstract/colors";
@use "abstract/mixins";

body{
    font-size: 2rem;
    font-family: sans-serif;
    background-color: colors.$bgcolor;
}
h1, h2, h3{
    line-height: 1.5em;
    font-weight: 100;
}

p{
    line-height: 1.4em;
    font-size: 1.5rem;
}
ol, ul{
    margin-left: 4rem; 
}

main{
    @include mixins.blok(transparent);
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

.les p, .les li{
    font-size: 1.5rem;
    line-height: 1.4em;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;

    & > div{
        flex: 0 1 calc(50% - 1.5rem);
    }
}