$bgcolor: rgb(232, 232, 240);

$les_bgcolor: white;
$les_color: black;

$header_bgcolor: #18b0e6;
$header_color: white;

$nav_bgkleur: #0c9ace;
$nav_color: #c3f8ff;
$nav_color_hover: #e42785;

$linkkleur: #e42785;

$h2_les_kleur: #0a303e;

$shadow_kleur: #0a303e;

